@import "tailwindcss";

:root {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden; /* prevents sideways scroll */
  box-sizing: border-box;
}

#root {
  :root {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    overflow-x: hidden; /* prevents sideways scroll */

    box-sizing: border-box;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
