@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

#root {
  max-width: 420px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
